{%extends "base.html"%}

{%block content%}

{%with msg=get_flashed_messages()%}
  {%if msg%}
  {%for each in msg%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      
      {{each}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {%endfor%}
  {%endif%}
{%endwith%}



{%if isloggedin%}
<div class="d-flex justify-content-center mt-5 mb-3">
    You are logged in <br>
    Username = {{username}}<br>
    Email = {{email}} <br>
    <p>
        <a class="btn btn-primary ml-4" href="{{url_for('logout')}}" role="button">Logout</a>
    </p>
</div>

{%else%}

<div class="container justify-content-center mt-5 mb-3 text-center">
  <div>
    No of users
    <p>
      <button type="button" class="btn btn-lg btn-primary mt-2 mb-2" disabled>{{noofuser}}</button>
    </p>
    <hr style="width:40%; text-align:center">
  </div>
  
    Currently,You are not logged in.<br>
    Please Login or Signup<br>
    <p>
        <a class="btn btn-primary bg-black text-light ml-2 mt-1" href="{{url_for('login')}}" role="button">Sign in</a>
        <a class="btn btn-primary bg-black text-light ml-2 mt-1" href="{{url_for('signup')}}" role="button">Sign up</a>
    </p>
</div>
{%endif%}

{%endblock%}

